<h1>PRICING TABLE</h1>
<div class="container1">
  <h1>SMALL</h1>
  <div class="circle1"></div>
  <h3>10$ <br> PER MONTH</h3>
  <p>
    ~ Full support <br>
    ~ 1 registered user <br>
    ~ Unlimited bandwidth <br>
    ~ 1000 projects per month <br>
  </p>
  <button class="button1">ORDER NOW</button>
</div>

<div class="container2">
  <h1>MEDIUM</h1>
  <h3>30$ <br> PER MONTH</h3>
  <div class="circle2"></div>
  <p>
    ~ Full support <br>
    ~ 25 registered users <br>
    ~ Unlimited bandwidth <br>
    ~ 1000 projects per month <br>
  </p>
  <button class="button2">ORDER NOW</button>
</div>
<div class="container3">
  <h1>LARGE</h1>
  <h3>50$ <br> PER MONTH</h3>
  <div class="circle3"></div>
  <p>
    ~ Full support <br>
    ~ 100 registered users <br>
    ~ Unlimited bandwidth <br>
    ~ 1000 projects per month <br>
  </p>
  <button class="button3">ORDER NOW</button>
</div>

<div class="container4">
  <h1>X-LARGE</h1>
  <h3>100$ <br> PER MONTH</h3>
  <div class="circle4"></div>
  <p>
    ~ Full support <br>
    ~ Unlimited registered users <br>
    ~ Unlimited bandwidth <br>
    ~ 1000 projects per month <br>
  </p>
  <button class="button4">ORDER NOW</button>
</div> 

<router-outlet> </router-outlet>