body {
    background-image: url('https://images.unsplash.com/photo-1500964757637-c85e8a162699?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW4lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww');
    background-size: cover;
}

.container {
    background-color:antiquewhite;
    height: 400px;
    width: 450px;
    margin-left: 400px;
    margin-top: -100px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px rgb(230, 198, 216);
}

h1 {
    color: rgb(9, 39, 37);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 570px;
    margin-top: 130px;
}

.text {
    margin-top: 120px;
    margin-left: 40px;
    height: 50px;
    width: 370px;
    border-radius: 20px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(241, 206, 214);
}

.text:hover {
    background-color:rgb(241, 206, 214);
}

.password {
    margin-top: 30px;
    margin-left: 40px;
    height: 50px;
    width: 370px;
    font-size: 15px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(241, 206, 214);
}

.password:hover {
    background-color:rgb(241, 206, 214);
}

.logIn {
    margin-top: 40px;
    margin-left: 40px;
    height: 50px;
    width: 370px;
    font-size: 20px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(241, 206, 214);
    background-color: rgb(221, 140, 205);
}

.logIn:hover {
    background-color:rgb(235, 167, 183);
}